.input-users {
    float: none;
    width: 400px;
}

thead.cardView {
    display: none;
}

.displayControl {
    font-size: 40px;
}

.slowSearch {
    position:absolute;
    top: 70px;
    left: 10px;
    box-shadow: 0 0 15px rgb(111, 111, 111);
}