<img class={{format}} id="lgUserPicture" src="{{user.picture.large}}" alt="Picture of {{user.login.username}}"/>
<img class={{format}} id="UserThumbnail" src="{{user.picture.thumbnail}}" alt="Thumbnail of {{user.login.username}}" />
<span class={{format}} id="userName">{{user.login.username}}</span>
<span class={{format}} id="name">{{user.name.first | uppercase}} {{user.name.last | uppercase}}</span>
<span class={{format}} id="email">{{user.email}}</span>
<span class={{format}} id="cell">{{user.cell}}</span>
<span class={{format}} id="address">{{user.location.street}} {{user.location.city}} {{user.location.state}} {{user.location.postcode}}</span>

