<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" [routerLink]="['']">
                People Search
           </a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['home']">Home<span class="sr-only">(current)</span></a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['people']">People<span class="sr-only">(current)</span></a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['about']">About<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class='container'>
    <router-outlet></router-outlet>
</div>
