span.tableView {
    display:table-cell;
    text-align: center;
    font-size: 16px;
    padding: 3px;
}

span.tableView:hover {
    background-color: antiquewhite;
}

:host.tableView:nth-child(odd) {
    background-color: white;
}

:host.tableView:nth-child(even) {
    background-color: #f9f9f9;
}

:host.tableView {
    display: table-row;
}

:host.tableView:hover {
    background-color:rgba(250, 235, 215, 0.3);
}

:host.cardView {
    width: 200px;
    height: 200px;
    background-color: black;
    box-shadow: 0 0 15px rgb(111, 111, 111);
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

#firstName.cardView, #lastName.cardView {
    background-color: #006e9a;
    color: white;
    width: 50%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

span.cardView {
    padding: 3px;
}

#firstName.cardView {
    text-align: right;
    float:left;
    left: 0;
}

#lastName.cardView {
    text-align: left;
    float:right;
    right: 0;
}

#phoneNumber.cardView, #userName.cardView {
    display:none;
}