<div class="jumbotron">
    <div class="container">
        <h1>About</h1>
        <p>{{message}}</p>
        <p>This is an MVC ASP.NET Core application which uses Angular 2 as a View Model. Both implementations use services to call an API and return a response as an interface. </p>
        
        <h2>People</h2>
        <p>The People search calls the PeopleController which uses the ExamplePeopleList to propagate the PeopleRepository. </p>
        <h3></h3>

        <h2>Users</h2>
        <p>The Users search uses the RandomUser.me API to grab 5000 example users to search upon.</p>
        <h3></h3>

    </div>
</div>